* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

html {
    scroll-behavior: smooth;
}

html, body{
    overflow-x: hidden;
    font-family: 'Petrona', serif;
}

h1,
h2,
h3,
h4,
a{
    color: aliceblue;
    text-shadow: 3px 1px 5px #363b3b;
}

section{
    /* min-width: 100vw; */
    position: relative;
    min-height: 100vh;
    display: flex;
    background-color: rgb(2, 2, 2);
}

.header{
    position: fixed;
    width: 100%;
    top: 0%;
    background: #1d2020c7;
    z-index: 1000;
}

.nav {
    min-height: 10vh;
    margin: auto;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav h1,
.nav-menu{
    flex: 1;
    font-size: 1.5rem;
}

.nav h1{
    font-size: 2.5rem;
}

.nav-menu ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.nav-menu a{
    text-decoration: none;
}

.home-content{
    position: relative;
    min-width: 100%;
    min-height: 100%;
}

.home-main-view{
    min-width: 100%;
}

.home-main-text{
    position: absolute;
    z-index: 6;
    width: 100%;
    top: 25%;
    text-align: center;
}

.home-main-text h1{
    font-size: 5rem;
}

.concert{
    z-index: 5;
    position: absolute;
    min-width: 100%;
    transform: translateY(-30%);
}
.concert-cut{
    z-index: 10;
    position: absolute;
    min-width: 100%;
    transform: translateY(-30%);
}
