* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

html {
    scroll-behavior: smooth;
}

html, body{
    overflow-x: hidden;
    font-family: 'Petrona', serif;
}

h1,
h2,
h3,
h4,
a{
    color: aliceblue;
    text-shadow: 3px 1px 5px #363b3b;
}

section{
    /* min-width: 100vw; */
    position: relative;
    min-height: 100vh;
    display: flex;
    background-color: rgb(2, 2, 2);
}

.header{
    position: fixed;
    width: 100%;
    top: 0%;
    background: #1d2020c7;
    z-index: 1000;
}

.nav {
    min-height: 10vh;
    margin: auto;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav h1,
.nav-menu{
    flex: 1;
    font-size: 1.5rem;
}

.nav h1{
    font-size: 2.5rem;
}

.nav-menu ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.nav-menu a{
    text-decoration: none;
}

.home-content{
    position: relative;
    min-width: 100%;
    min-height: 100%;
}

.home-main-view{
    min-width: 100%;
}

.home-main-text{
    position: absolute;
    z-index: 6;
    width: 100%;
    top: 25%;
    text-align: center;
}

.home-main-text h1{
    font-size: 5rem;
}

.home-content{
    align-items: center;
}

.concert{
    
    z-index: 5;
    position: absolute;
    width: 100%;
    bottom: 0%;
}

.concert-reverse{
    
    z-index: 5;
    position: absolute;
    width: 100%;
    bottom: 0%;
    transform: translateY(-100%) rotate(180deg);
}

.concert-cut{
    z-index: 10;
    position: absolute;
    width: 100%;
    bottom: 0%;
}

#bars {
    height: 10rem;
    left: 40%;
    margin: -30px 0 0 -20px;
    position: absolute;
    bottom: 0%;
    width: 20%;
    height: 50%;
    z-index: 8;
}

.bar {
   background: rgb(201, 201, 201);
    bottom: 10px;
    height: 30px;
    position: absolute;
    width: 3.5%;      
    animation: sound 0ms -800ms linear infinite alternate;
}

@keyframes sound {
    0% {
       opacity: .35;
        height: 5%; 
    }
    100% {
        opacity: 1;       
        height: 50%;        
    }
}

.bar:nth-child(1)  { left: 0%; animation-duration:     474ms; }
.bar:nth-child(2)  { left: 5%; animation-duration:    433ms; }
.bar:nth-child(3)  { left: 10%; animation-duration:    407ms; }
.bar:nth-child(4)  { left: 15%; animation-duration:    458ms; }
.bar:nth-child(5)  { left: 25%; animation-duration:    400ms; }
.bar:nth-child(6)  { left: 25%; animation-duration:    427ms; }
.bar:nth-child(7)  { left: 30%; animation-duration:    441ms; }
.bar:nth-child(8)  { left: 35%; animation-duration:   419ms; }
.bar:nth-child(9)  { left: 40%; animation-duration:   487ms; }
.bar:nth-child(10) { left: 45%; animation-duration:   442ms; }
.bar:nth-child(11) { left: 55%; animation-duration:   474ms; }
.bar:nth-child(12) { left: 60%; animation-duration:   433ms; }
.bar:nth-child(13) { left: 65%; animation-duration:   407ms; }
.bar:nth-child(14) { left: 70%; animation-duration:   458ms; }
.bar:nth-child(15) { left: 75%; animation-duration:   400ms; }
.bar:nth-child(16) { left: 80%; animation-duration:   427ms; }
.bar:nth-child(17) { left: 85%; animation-duration:   441ms; }
.bar:nth-child(18) { left: 90%; animation-duration:   419ms; }
.bar:nth-child(19) { left: 95%; animation-duration:   487ms; }
.bar:nth-child(20) { left: 100%; animation-duration:   442ms; }